.add-book-heading {
  font-size: 1.2em;
  color: #888;
  font-weight: bold;
  margin-left: 6.25rem;
}

.add-form {
  margin-bottom: 120px;
}

.add-input {
  width: 20rem;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding-left: 1.4rem;
  margin-left: 6.25rem;
}

.add-input::placeholder {
  color: #000;
  font-size: 1.3em;
  opacity: 0.5;
}

.add-title {
  width: 38.5vw;
}

.add-author {
  margin-left: 35px;
}

.add-btn {
  height: 40px;
  margin-left: 35px;
  padding-left: 50px;
  padding-right: 50px;
}
