@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@700&display=swap"');

body {
  margin: 0;
  background: #f3f4f8;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

@media (max-width: 767px) {
  ul {
    margin: 0;
    padding: 5px;
  }
}
